<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <title>Wavify | Home</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/logo.png') }}" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Wavify">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Wavify">
    <meta property="og:description" content="Explore ad-free music with Wavify">
    <meta name="description" content="Explore ad-free music with Wavify">
    <meta name="og:url" content="https://music.lunes.host">
    <meta name="theme-color" content="#fbcf59">
    <meta property="og:image:width" content="627">
    <meta property="og:image:height" content="627">
    <meta name="keywords" content="music wavify lunes">
    <meta name="author" content="Wavify">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.blue.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <main class="container-fluid">
        <div class="row">
            <div class="content-center">
                <h1 class="title-big">Wavify</h1>
                <p class="subtitle-big">Explore ad-free music with Wavify</p>
                <a href="{{ url_for('auth.login') }}"><button class="outline">Get Started</button></a>
            </div>

            <div class="subcontent-center">
                <h1 class="title-big">Features</h1>
                <p class="subtitle-big">Explore our Features!</p>
                <div class="cards-row">
                    <div class="card">
                        <i class="bi bi-music-note-beamed"></i>
                        <h2 class="card-title">Ad-Free Music</h2>
                        <p class="card-subtitle">Enjoy an ad-free music experience with possibly no delay with Wavify!</p>
                    </div>
                    <div class="card">
                        <i class="bi bi-music-player-fill"></i>
                        <h2 class="card-title">Unlimited Music</h2>
                        <p class="card-subtitle">Explore unlimited choices of music that suits your tastes for free with Wavify!</p>
                    </div>
                    <div class="card">
                        <i class="bi bi-soundwave"></i>
                        <h2 class="card-title">High Quality Music</h2>
                        <p class="card-subtitle">Listen to high quality music for free without paying a single peny, with Wavify!</p>
                    </div>
                </div>
            </div>

            <div class="subcontent-center">
                <h1 class="title-big">Founders</h1>
                <p class="subtitle-big">Meet the Founders of Wavify!</p>
                <div class="cards-row">
                    <div class="card">
                        <img src="https://avatars.githubusercontent.com/u/101402577?s=96&v=4" alt="alexyy" class="img-round">
                        <h2 class="card-title">AlexyDev</h2>
                        <p class="card-headline">Founder | Frontend Developer</p>      
                    </div>
                    <div class="card">
                        <img src="https://avatars.githubusercontent.com/u/80738438?v=4" alt="dwaa" class="img-round">
                        <h2 class="card-title">DWAA</h2>
                        <p class="card-headline">Co-Founder | Backend Developer</p>
                    </div>
                    <div class="card">
                        <img src="https://avatars.githubusercontent.com/u/55815776?v=4" alt="dwaa" class="img-round">
                        <h2 class="card-title">Chrizxz</h2>
                        <p class="card-headline">Core Developer | Media Developer</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <p class="footer-text">© 2021 Wavify. All rights reserved.</p>
        </div>
    </main>
</body>
</html>